pipeline/7_Process_run.json
{
	"name": "7_Process_run",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata receivedcsv",
				"description": "See if there is already process running",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_received_bin",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Metadata receivedcsv",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FilesCount",
					"value": {
						"value": "@greater(length(activity('Get Metadata receivedcsv').output.childItems),0)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "See if previous process is running",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('FilesCount')",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Run Process",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "6_Complete_csv_process",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"FilesCount": {
				"type": "Boolean"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-02-17T19:04:56Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}